.pagination{
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}




.titulo-secundario, .descripcion{
  margin-left: 5%;
}

  .peliculas_list {

      display: flex;
     

  }
  .pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .btn_pagination{
    color: white;
    cursor: pointer;
  }
#foto{
  margin-top: 2%;
}
  .content_film{
    text-decoration: none;
    color:white;

  }
  .content_film:hover{
    cursor: pointer;
    
}
  .descripcion{
        margin-top: 10px;
    }

    .btn_mas {
        background-color: red;
        margin:10px;
    }
    .container{
        margin-top: 3%;
    }
    .btn_atras{

    }
    

    




    