.boton-card {
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom:50px;
  right: 10px;
  color: white;
  background-color: red;
  font-size: 100%;
  border-radius: 50%;
}
.container h1{
  margin-left: 5rem;
}


.boton-card:hover {
  cursor: pointer;
}

.freetowatch-cards {
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider1 {
  display: flex;
}
.slider2 {
  display: flex;
}
.slider3 {
  display: flex;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text_title {
  position: absolute;
  top: 50%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
}

.mySlides img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6%;
  color: white;
  margin-left: 4%;
  z-index: 2;
  opacity: 0.9;
  background-color: #d62929;
}

.fade {
  opacity: 0.7;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.7;
  }
}

.slider1 {
  width: 100%;
  animation: slider1 20s infinite backwards ease-in-out;

}

.slider1:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes slider1 {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  20% {
    margin-left: -45%;
  }
  40% {
    margin-left: -45%;
  }

  40% {
    margin-left: -67.5%;
  }
  60% {
    margin-left: -67.5%;
  }

  60% {
    margin-left: -115%;
  }
  80% {
    margin-left: -115%;
  }

  80% {
    margin-left: -138%;
  }
  90% {
    margin-left: -138%;
  }
}

.slider2 {
  width: 100%;
  animation: slider2 20s infinite alternate ease-in;
}

.slider2:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes slider2 {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  20% {
    margin-left: -45%;
  }
  40% {
    margin-left: -45%;
  }

  40% {
    margin-left: -67.5%;
  }
  60% {
    margin-left: -67.5%;
  }

  60% {
    margin-left: -115%;
  }
  80% {
    margin-left: -115%;
  }

  80% {
    margin-left: -138%;
  }
  90% {
    margin-left: -138%;
  }
}


.slider3 {
  width: 100%;
  animation: slider3 20s infinite alternate ease-out;
}

.slider3:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes slider3 {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  20% {
    margin-left: -45%;
  }
  40% {
    margin-left: -45%;
  }

  40% {
    margin-left: -67.5%;
  }
  60% {
    margin-left: -67.5%;
  }

  60% {
    margin-left: -115%;
  }
  80% {
    margin-left: -115%;
  }

  80% {
    margin-left: -138%;
  }
  90% {
    margin-left: -138%;
  }
}


.freetowatch-cards .movie-card {
  margin-right: 1.5rem;
  position: relative;
}

/* Animacion de las cards de las peliculas */
.movie-card {
  transition: 1s ease;
  transform-style: preserve-3d;
}

.movie-card.flipped {
  transform: rotateY(180deg);
}

.delante,
.detras {
  position: absolute;
  backface-visibility: hidden;
}

.delante {
  z-index: 2;
  transform: translatey(-500px);
  margin-top: 500px;
}

.detras {
  margin-right: 1.5rem;
  width: 292px;
  height: 250px;
  color: white;
  padding: 1rem;
  background: linear-gradient(
    to top,
    white 0%,
    white 30%,
    black 70%,
    black 100%
  );
  position: relative;
  transform: rotateY(180deg);
}

/* movies rating */
.movie-rating {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(3, 37, 65);
  color: white;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 60px;
  left: 10px;
}
.movie-rating::after {
  content: "";
  height: 10px;
  width: 39px;
  border-radius: 100%;
  border: 3px solid gold;
  color: white;
  text-align: center;
  padding: 15px 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
