.peliculas{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;
  border: 1px solid #ccc;
    
}

.titulo{
  text-align: center;
  margin-top:8%;

}



