/* footer section */
.footer {
  background-color: rgba(10, 10, 10, 0.8);
  padding: 70px 0;
  color: white;
  
}

.footer .maindiv {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer .maindiv .footerlogo {
  background: url(../images/static/footerlogo.svg) center center no-repeat;
  height: 70px;
  width: 100px;
}
