/*assign full width inputs*/

.input-form {
  border:none;
  background: none;
  display:block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}
.input-form:focus {
  width: 280px;
  border-color: #b63f3b;
}


/*set a style for the buttons*/
.boton-form {
  border:none;
  background: none;
  font-size:60%;
  display:block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #b63f3b;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

/* set a hover effect for the button*/
.boton-form:hover {
  background: #b63f3b;
  opacity: 0.8;
}

/*centre the display image inside the container*/
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/*set image properties*/
img.avatar {
  width: 10%;
  border-radius: 50%;
  border: 2px solid #000;
}

/*set padding to the container*/
.container {
  padding: 16px;
}

.choose_lenguage{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.choose_lenguage:hover{
  background-color: #b63f3b;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
  

}
/*set the Modal background*/
.modal {
  
  display: none;
  position: absolute;
  z-index: 1;
  top: 500%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;

}

.background_login{
  background-color: rgba(10, 10, 10, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*style the model content box*/
.modal-content {
  
  text-decoration: none;
}

.boton_sesion_google{
  text-decoration: none;
  border: 2px solid white;
  cursor: pointer;
  height: 100%;
  width: 3.7rem;
  background-color: #b63f3b;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 1rem;
}

.boton_sesion_google .fab{
font-size: 2.5rem;
color: #fff;
padding: 0.5rem;

/*space bottom*/

}

/*style the close button*/
#close {
  position: absolute;
  right: 25px;
  top: 0;
  cursor: pointer;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#close2 {
  position: absolute;
  right: 25px;
  top: 0;
  cursor: pointer;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}



/* add zoom animation*/
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}


.modal2{
  display: none;
  position: absolute;
  z-index: 1;
  top: 500%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;

  
}

.btn{
  cursor: pointer;
  border-radius: 20%;
  padding: 10px;
  font-weight: bold;

}

.foto{
  margin-bottom: 5%;
}

.allmodal{
  position: relative;
}

#btn_registro2{
  background-color:red;
}

#btn_login{
  background-color:red;
}

.animations{
  -webkit-animation-name: animatezoom;
  -webkit-animation-duration: 1s;
  animation-name: animatezoom;
  animation-duration: 1s;
}


.animations2{
  -webkit-animation-name: animateSlide;
  -webkit-animation-duration: 0.8s;
  animation-name: animateSlide;
  animation-duration: 0.8s;
}
.animations3{
  -webkit-animation-name: animateSlide2;
  -webkit-animation-duration: 0.8s;
  animation-name: animateSlide2;
  animation-duration: 0.8s;
  
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}




@-webkit-keyframes animateSlide {
  0% {
    margin-left: 0%;
    opacity: 0.5;

  }
  100% {
    margin-left: 100px;
    opacity: 0;

  }
}

@keyframes animateSlide {
  0% {
    transform: perspective(1000) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
    -webkit-perspective: 1000;
    
    }
    
    50% {
      transform: perspective(1000) rotateX(0deg) rotateY(-90deg);
      -webkit-transform: perspective(1000) rotateX(0deg) rotateY(-90deg);
      
      
    } 

    100% {
      transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      
      
    } 
}


@-webkit-keyframes animateSlide2 {
  0% {
    transform: perspective(1000) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
    -webkit-perspective: 1000;
    
    }
    
    50% {
      transform: perspective(1000) rotateX(0deg) rotateY(90deg);
      -webkit-transform: perspective(1000) rotateX(0deg) rotateY(90deg);
      
      
    } 

    100% {
      transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      
      
    } 
    
}

@keyframes animateSlide2 {
  
    0% {
      transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
      -webkit-perspective: 1000;
      
      }
      
      50% {
        transform: perspective(1000) rotateX(0deg) rotateY(90deg);
        -webkit-transform: perspective(1000) rotateX(0deg) rotateY(90deg);
        
        
      } 

      100% {
        transform: perspective(1000) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(1000) rotateX(0deg) rotateY(0deg);
        
        
      } 
      
     


  }
 



@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}