table{
    width:80%;
    table-layout: fixed;
    text-align:center;
    margin:auto;
}
tr{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgb(182, 48, 48);
    background-color: #0c0a0a;
    text-align: center;
    

}
.trContenido{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
}

td{
    padding:5px ;
    
}

.btnEliminar{
    background-color: rgb(182, 48, 48);
    color: aliceblue;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}



    
